/*---------------------------------------------------------------------------------- */
/* Created by Team Hotel */
/* CS 341 | Nuxoll */
/*----------------------------------------------------------------------------------*/

/* style.css for index.html */

#splash h1 {
	text-align: center;
	position: relative;	
	background: #25205E;
	background-size: cover;
	color: white;
	padding-top: 10%;
	padding-bottom: 10%;
}

body {
	background: white;
}

/* post pages */

.post {
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
}

.post-meta a {
    font-style: oblique;
}

.comment {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.comment-meta a {
    font-style: oblique;
}