/*---------------------------------------------------------------------------------- */
/* Created by Team Hotel */
/* CS 341 | Nuxoll */
/*----------------------------------------------------------------------------------*/

/* style.css for index.html */

#splash h1 {
	text-align: center;
	position: relative;	
	background: #25205E;
	background-size: cover;
	color: white;
	padding-top: 5%;
	padding-bottom: 5%;
}

body {
	background: white;
}

/* post pages */

.post {
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
}

.post-meta a {
    font-style: oblique;
}

.comment {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.comment-meta a {
    font-style: oblique;
}

.navbar {
	width: 100%;
	height: 100%;
	text-align: bottom;
}

/* Class Topics */

.listTopic {
    padding-left: 0;
	/* column-fill: balance; */

}

.topicCol {
	padding: 0%;
	column-width: 225px;
	column-fill: balance;
}

.topic {
	/* width: 100% */
	border: 2px solid black;
	margin: 5%;
	padding: 5% 10% 5%;
	border-spacing: 15%;
	border-radius: 5px;
	background: white;
	box-shadow: 2px 4px lightgray;

}

.topic:hover{ 
  background-color: #25205e;
  color: white;
}

/* Subjects */

.subjectDiv {
	/* width: 200% */
	border: 2px solid black;
	margin: 0.5%;
	padding: 1% 2% 1%;
	border-spacing: 10%;
	background: white;
	box-shadow: 2px 4px lightgray;
}

.subjectDiv:hover { 
  background-color: #25205e;
  color: white;
}

/* Posts */

.postDiv {
	border: 2px solid black;
	margin: 0.5%;
	padding: 1% 2% 1%;
	border-spacing: 10%;
	background: #f2f2f2;
	box-shadow: 2px 4px lightgray;
}

.postDiv:hover {
  background-color: #25205e;
  color: white;	
}

/* Comments */

.commentDiv {
	border: 2px solid black;
	margin: 1%;
	border-radius: 1%;
	padding: 1% 2% 1%;
	border-spacing: 10%;
	background: #f2f2f2;
	box-shadow: 2px 4px gray;
}


.userNamePost {
	border: 2px solid black;
	margin: 1%;
	border-radius: 1%;
	padding: 1% 1% 1%;
	border-spacing: 5%;
	background: lightgray;
}

#loggedIn {
	color: blue;
}
